* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #c9eddc;
    color: #242038;
}

.message {
    width: 250px;
    padding: 15px;
    margin: 15px 0px;
    background-color: #ff370099;
    opacity: 1;
    transition: opacity 200ms linear;
}

.hidden {
    opacity: 0;
}
